.App {
  text-align: center;
}



#appBody {
  background-color: #181a1b;
  min-height: 961px;
}


.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* HOME PAGE */
#homeDiv {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}

#homeText {
  color: white;
  text-align: center;
}


/* EMPLOYEE PAGE */

.pageTitle {
  width: 100%;
  height: 110px;
  font-size: 2.8em;
  text-align: center;
  vertical-align: baseline;
  color: white;
}

.pageTitle p {
  position: relative;
  top: 30px;
}


#employeeListContainer {
  min-width: 50%;
  max-width: 755px;
  margin: auto;
  color: white;
}

#employeeListOptions {
  display: flex;
  justify-content: space-between;

}

#employeeListOptions div {
  display: flex;
  align-items: center
}

#employeeListOptions #numEntriesPerPage {
  width: 45px;
}

#employeeListOptions #numberOfEntries p {
  margin: auto;
  padding: 0px 5px 0px 5px;
}


#employeeListOptions #pageNumberDisplay {
  margin: auto;
  padding-right: 5px;
}

#employeeListOptions #pageButtons button {
  width: 38px;
  height: 38px;
  font-size: 1.4em;
  background-color: inherit;
  border: none;
  color: white;
}

#employeeListOptions #pageButtons button:disabled {
  color: gray;
}

#employeeListOptions #pageButtons #employeePreviousCaret {
  transform: rotate(-90deg);
}

#employeeListOptions #pageButtons #employeeNextCaret {
  transform: rotate(90deg);
}

#employeeListOptions #pageButtons p {
  margin: auto;
}


#employeeList {
  display: flex;
  align-items: center;
  flex-direction: column;

}


#employeeDiv {
  background-color: #057498;
  min-width: 100%;
  height: 130px;
  border-style: solid;
  border-radius: 10px;
  border-color: #20242b;
  border-width: 3px;
  margin-bottom: 8px;
}

#employeeDiv:hover {
  background-color: #0a5c78;
  cursor: pointer;
  transition: all 1s ease;
}

#employeeName {
  height: 55%;
  font-size: 2.75em;
  padding: 5px 0px 0px 14px;
}

#employeeInfo {
  display: flex;
  justify-content: center;
  font-size: 1.8em;
  color: black;
}


#employeeInfo div{
  position: relative;
  top: 7px;
}

#employeeEmail {
  flex-basis: 60%;
}




/* NEW EMPLOYEE PAGE */

#employeeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

#employeeForm div{
  width: 400px;
  text-align: center;
  margin-bottom: 8px;
}

#employeeForm .employeeFormField{
  position: relative;
  right: 25px;
  display: flex;
  width: 500px;
}

#employeeForm .employeeFormField input {
  width: 50%;
}

#employeeForm #submitForm {
  margin-top: 15px;
}


#employeeForm label{
  color: white;
  margin-right: 8px;
  width: 40%;
  display: flex;
  justify-content: right;
}

#employeeForm #deleteButton {
  margin-top: 100px;
}

#employeeForm #deleteButton button {
  color: red;
}

#employeeForm #redirectMessage {
  text-align: center;
}


  /* HEADER COMPONENT */

#container {
  width: 100%;
  background-color: rgba(5,116,152,255);
  display: flex;
  justify-content: left;
  height: 90px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 50;
}

#container div {
  flex-basis: 12%;
}

#container #headerTitleDiv {
  flex-basis: 90%;
  vertical-align: middle;
  display: flex;
  align-items: center;
  height: 100%;
}


#container #headerTitleDiv div {
  min-width: 177px;
  height: 100%;
  position: relative;
  right: 15px;
  position: relative;
}

#container #headerTitleDiv img {
  top: 1px;
  z-index: -1;
  position: relative;
}

#container .headerButton {
  height: 100%;
}

#container .headerButton p {
  position: relative;
  top: 35%;
  text-align: center;
  font-size: 1.3em;
}

#container #employeeWebsite {
  text-align: center;
}


#container .headerButton:hover {
  background-color: #0a5c78;
  cursor: pointer;
  transition: all 1s ease;
}
